@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
    ViewBag.PageName = "About";
}

<h2 class="text-focus-in">Om mig</h2>

<p>
    Mitt namn är Rickard. Jag är 30 år och studerar programmet Webbutveckling hos Mittuniversitetet i Sundsvall.
    Detta är första uppgiften i kursen <span class="cursiv-wrapper">DT102G, ASP.NET med C#<span>
</p>